/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1//,300;1//,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400');

$font-family-sans-serif: 'Barlow Condensed';
$font-family-monospace: 'Source Code Pro';

// My colors
$theme-darkblue: #012F6B;
$theme-lightgrey: #a8aabc;
$theme-darkgreen: #007d57;



// Colors
$body-bg:      #FFFFFF;
$body-color:   #000000;
$code-color:   $theme-darkblue;
$selection-bg: $theme-darkgreen;
$link-color:   $theme-darkblue;


/*-- scss:rules --*/

.reveal .diapo-titre {
  &:is(.slide-background) {
    background-image: url('background.png');
    background-size: 100% 105%;;
    background-position: center;
    background-repeat: no-repeat;
  }
  h3 {
    color: #FFFFFF;
    font-size: 75px;
  }
  h4 {
    color: $theme-lightgrey;
    font-size: 45px;
  }
  p {
    color: #FFFFFF;
  }
}

h2 {
  color: $theme-darkblue !important;
}

.lightgrey {
  color: $theme-lightgrey;
}

.small {
  font-size: 25px;
}

.reveal .slide-logo {
  height: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}


/*-- scss:defaults --*/
//
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1//,700;1//,800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1//,300;1//,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400');
//
//$font-family-sans-serif: 'Open Sans', sans-serif !default;
//$font-family-monospace: 'Source Code Pro', monospace !default;
//$presentation-heading-font: "Open Sans", sans-serif !default;
//$presentation-title-slide-text-align: left;
//$presentation-heading-font-weight: 300;
//$code-block-font-size: 0.90em;

// colors
//$body-bg:      #FFFFFF;
//$body-color:   #000000;
//$code-color:   #012F6B;
//$selection-bg: #eaeeff;
//$link-color:   #012F6B;

/*-- scss:rules --*/


//#title-slide .title {
//  color: #FFFFFF;
//  font-size: 70px;
//  font-weight: 600;
//}
//
//
//#title-slide .subtitle {
//  color: #a8aabc;
//  font-size: 40px;
//  font-weight: 500;
//}
//
//
//#title-slide .quarto-title-author-name {
//  color: #FFFFFF;
//  font-size: 60px;
//  font-weight: 600;
//  text-align: left;
//}
//
//.reveal .quarto-title-block .quarto-title-authors {
//    display: flex;
//    justify-content: left;
//}
