/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1//,300;1//,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$font-family-sans-serif: 'Barlow Condensed';
$font-family-monospace: 'Fira Code';

// My colors
$theme-darkblue: #012F6B;
$theme-lightgrey: #a8aabc;
$theme-darkgreen: #007d57;



// Colors
$body-bg:      #FFFFFF;
$body-color:   #000000;
$code-color:   #000000;
$selection-bg: $theme-darkgreen;
$link-color:   $theme-darkblue;


/*-- scss:rules --*/

// Inline code
.math.inline .MathJax  {
  font-size: 90% !important;
}

// Display code
.math.display .MathJax {
  font-size: 60% !important;
}


// Footers (link text)
.reveal .footer a {
  color: $theme-darkblue;
  font-size: 20px;
}

// Footers (normal text)
.reveal .footer p {
  color: #000000;
  font-size: 20px !important;
}

// Normal text
.reveal p {
  font-size: 35px !important;
}

// Code text
.reveal code {
  font-size: 25px !important;
}

// Font size in code blocks relative to font size
code.sourceCode {
  font-size: 1em !important;
}

// Control logo attributes
.reveal .slide-logo {
  height: 40px !important;
  max-width: unset !important;
  max-height: unset !important;
}


// Vertical space between unordered and ordered list elements
.reveal .slide ul li, .reveal .slide ol li {
  margin-top: 0.1em !important;
}


// Title slide (theme 1)
#title-slide {
  text-align: left;
  margin-top: -100px;
}

.reveal .title-slide-theme-1 {
  &:is(.slide-background) {
    background-image: url('logo-white.png'), url('coop_blue_gradient_blob.svg'), url('white-background.png');
    background-size: 25%, 100% 93%, 100% 100%;
    background-position: 88% 90%, center top, center top;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
  .title {
    color: #FFFFFF;
    font-size: 85px;
  }
  .subtitle {
    color: $theme-lightgrey;
    font-size: 50px !important;
    font-weight: bold;
    margin-bottom: 80px !important;
  }
  .quarto-title-authors {
    color: #FFFFFF;
    justify-content: left;
    .quarto-title-author {
      padding: 0px;
      font-size: 40px;
    }
    .quarto-title-author-name {
      &:before {
        content: 'by';
        color: $theme-lightgrey;
        font-size: 25px;
      }
    }
    .quarto-title-author-email {
      text-align: left;
      text-indent: 28px;
    }
  }
  .date {
    &:before {
      content: 'on ';
      color: $theme-lightgrey;
      font-size: 25px;
    }
    color: #FFFFFF;
  }
}

// Title slide (theme 2)
.reveal .title-slide-theme-2 {
  color: #FFFFFF;
  &:is(.slide-background) {
    background-image: url('logo-white.png'), url('background.png');
    background-size: 25%, 100% 103%;
    background-position: 88% 90%, center top;
    background-repeat: no-repeat, no-repeat;
  }
  h3 {
    color: #FFFFFF;
    font-size: 75px;
  }
  h4 {
   color: $theme-lightgrey;
   font-size: 45px;
  }
}

// Title slide (theme 3)
.reveal .title-slide-theme-3 {
  color: #FFFFFF;
  &:is(.slide-background) {
    background-image: url('logo-white.png'), url('animated-background.svg');
    background-size: 25%, 100% 93%;;
    background-position: 88% 90%, center top;
    background-repeat: no-repeat, no-repeat;
  }
  h3 {
    color: #FFFFFF;
    font-size: 75px;
  }
  h4 {
   color: $theme-lightgrey;
   font-size: 45px;
  }
}


// Slide titles (h2 tag)
h2 {
  color: $theme-darkblue !important;
}


// Utils
.lightgrey-small {
  color: $theme-lightgrey !important;
  font-size: 25px !important;
}

.indent {
  text-indent: 18px !important;
}

